<div class="row mt-4">
	<div class="col">
		<h1>Arbitrage King <span class="float-right">{{getCommission('TOTAL')  | numeral:'$0,0.00'}}</span></h1>
	</div>
</div>
<hr />
<div *ngIf="isLoading" class="load">
	<div class="loader mx-auto"></div>
</div>
<table class="table" *ngIf="arbitragePairs.length > 0">
	<thead>
		<tr>
			<th>Symbol</th>
			<th>Status</th>
			<th>Type</th>
			<th>Bid Spread</th>
			<th>Ask Spread</th>
			<th>Trade Threshold</th>
			<th>Trade Count</th>
			<th>Commission</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let pair of arbitragePairs">
			<th scope="row"><a [routerLink]="[ './', pair.id ]">{{pair.symbol}}</a></th>
			<td><span class="badge"
		  [class.badge-danger]="pair?.status != 'active'"
		  [class.badge-success]="pair?.status == 'active' && pair?.type == 'market'"
		  [class.badge-warning]="pair?.status == 'active' && pair?.type != 'market'">
		{{pair?.status}}
	</span></td>
			<td>{{pair.type}}</td>
			<td>{{pair.bidSpread | numeral:'0.00%'}}</td>
			<td>{{pair.askSpread | numeral:'0.00%'}}</td>
			<td>{{pair.tradeThreshold | numeral:'0.00%'}}</td>
			<td>{{getTradeCount(pair.symbol)}}</td>
			<td>{{getCommission(pair.symbol)  | numeral:'$0,0.00'}}</td>			
		</tr>
	</tbody>
</table>
