<div class="row mt-4">
	<div class="col-8">
		<h1 class="display-2">{{pair?.symbol}}</h1>
		<h4><span class="badge"
				  [class.badge-danger]="pair?.status != 'active'"
				  [class.badge-success]="pair?.status == 'active' && pair?.type == 'market'"
				  [class.badge-warning]="pair?.status == 'active' && pair?.type != 'market'">
			{{pair?.status}}</span>
		</h4>
	</div>
</div>
<hr />

<div *ngIf="isLoading" class="load">
	<div class="loader mx-auto"></div>
</div>

<div class="row" *ngIf="pair">
	<div class="col"></div>
	<div class="col">
		<form #pairForm="ngForm">
			<div class="form-group row">
				<div class="col-6">
					<label for="bidspread">Bid Spread</label>
					<div class="input-group">
						<span class="input-group-addon">{{pair.bidSpread | numeral:'0.00%'}}</span>
						<input class="form-control" type="number" [(ngModel)]="pair.bidSpread" id="bidspread" name="bidSpread" step="0.001">
					</div>
				</div>
				<div class="col-6">
					<label for="askspread">Ask Spread </label>
					<div class="input-group">
						<input class="form-control" type="number" [(ngModel)]="pair.askSpread" id="askspread" name="askSpread" step="0.001">
						<span class="input-group-addon">{{pair.askSpread | numeral:'0.00%'}}</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label for="tradeThreshold">Trade Threshold</label>
				<div class="input-group">
					<span class="input-group-addon">{{pair.tradeThreshold | numeral:'0.00%'}}</span>
					<input class="form-control" type="number" [(ngModel)]="pair.tradeThreshold" id="tradeThreshold" name="tradeThreshold" step="0.0001">
				</div>
			</div>
			<div class="form-group row">
				<label for="type">Pair Type</label>
				<div class="input-group">
					<input class="form-control" type="text" [(ngModel)]="pair.type" id="type" name="type">
				</div>
			</div>
			<div class="form-group row">
				<button type="button" class="btn btn-primary btn-lg btn-block" (click)="save()">Save</button> 
			</div>
		</form>
	</div>
	<div class="col"></div>
</div>

<table class="table" *ngIf="orders.length > 0">
	<thead>
		<tr>
			<th>Base Order</th>
			<th>Counter Order</th>
			<th>Base Quantity</th>
			<th>Counter Quantity</th>
			<th>Commission</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let order of orders">
			<td>{{order.baseOrderUuid}}</td>
			<td>{{order.counterOrderUuid}}</td>
			<td>{{order.baseQuantityFilled}}</td>
			<td>{{order.counterQuantityFilled}}</td>
			<td>{{order.commission}}</td>
		</tr>
	</tbody>
</table>

