<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="http://localhost:50001">Bitcoin Markets</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
	    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a routerLink="/dashboard" routerLinkActive="active" class="nav-item nav-link">Dashboard</a>
			<a routerLink="/arbitrage" routerLinkActive="active" class="nav-item nav-link">Arbitrage</a>
		</div>
	</div>
	<div class="text-right">
		<div class="btn-group interval-buttons" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-link interval" (click)="setInterval('1h')" [class.active]="context.interval == '1h'">1h</button>
			<button type="button" class="btn btn-link interval" (click)="setInterval('24h')" [class.active]="context.interval == '24h'">24h</button>
			<button type="button" class="btn btn-link interval" (click)="setInterval('7d')" [class.active]="context.interval == '7d'">7d</button>
		</div>
		<button class="btn refresh right" (click)="refreshPairs()">Refresh</button>
	</div>
</nav>
<div class="container">
	<router-outlet>
	</router-outlet>
</div>
